
    .index a{
        font-size:1.1em;
    }
     #content{
      width: 100%;
      position:relative;
      background:url(../img/b1.jpg);
      background-size:cover;
      height:900px;
    }
    .article{ /* //ÄÚÈÝÀ¸ */
      float:left;
      width:72%;
      height:900px;
      /* background-color:#efefef; */
    }
    .article_div{
      width:75%;
      height:150px;
      background-color:white;
      margin:1em 0 1em 7em;
      border:#e0e0e0 1px solid;
      cursor:pointer;
      border-radius:6px;
    }
    .article_title{
      text-decoration: none;
      color:black;
      font-size:24px;
    }
    .article_title:hover{
      text-decoration: none;
      color:#285b87;
    }
    .aside{  /* ²à±ßÀ¸ */
      float:left;
      width:28%;
      height:900px;
     /*  background-color:#efefef; */
    }
    .aside-top{
      width:78%;
      height:720px;
      /* background-color:#efefef; */
      border-radius:6px;
      margin-top:1em;
    }
    .aside-top div{
      margin-bottom:1.5em;
    }
    #news{
      background-color:white;
      border-radius:6px;
    }
    .list-header{
      font-weight:bold;     
    }
    .clear{
      clear:both;
    }
    #bottom{
      height:50px;
    }
    
    /* jsp¸½¼Ó */
    .article_font i,.article_font a{
      padding-left:1em;
    }